@import "tailwindcss";

body{
    background-color: black !important;
}

input, select, textarea {
    border-color: rgb(255, 255, 255) !important;
    border-width: 1px !important;
    border-radius: 0.375rem !important;
    margin-bottom: 0.5rem !important;
}

.btn{
    background-color: #00D483!important;
    border-radius: 0.375rem !important;
    color: bla !important;
    border-width: 1px !important;
    padding: 0.5rem 1rem !important;
}